.pageContainer {
  width: 100%;
  height: 100%;
  display: flex;
}

.pageContentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  position: relative;
}

.pageContentHeader {
  display: flex;
  width: 100%;
  gap: 2rem;
  align-items: center;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* so clicks pass through */
  z-index: 10;
  background-color: var(--search-overlay);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
