.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.invisible {
  visibility: hidden;
}

.contentWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
