.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: var(--global-border-radius);
  z-index: 9999;
  background-color: var(--input-form);
  width: 75%;
  gap: 1rem;
}

.inputRowsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 0rem 2rem;
  gap: 1rem;
  padding-top: 2rem;
}

.inputRow {
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.buttonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 2rem 0;
}

.buttonContainer > button {
  padding: 1rem 4rem;
  font-size: 1rem;
}
