.inputContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 0rem 2rem;
  gap: 2rem;
  padding-top: 2rem;
}

.copyButton {
  padding: 1rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
