.switchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 1rem;
  background-color: var(--settings-switch-bg);
  border-radius: var(--global-border-radius);
}

.labelText {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-color);
}

.switchWrapper {
  position: relative;
  width: 46px;
  height: 26px;
}

.switchInput {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--settings-input-bg);
  border-radius: 26px;
  transition: all 0.2s ease;
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.checked {
  background-color: var(--btn-1);
}

.checked::before {
  transform: translateX(20px);
}

.switchInput:disabled + .slider {
  opacity: 0.5;
  cursor: not-allowed;
}
