.uploadBox {
  position: relative;
  border-radius: var(--global-border-radius);
  padding: 2rem;
  text-align: center;
  transition: 0.2s ease;
  background: var(--file-upload);
  color: var(--file-upload-border);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  height: 100%;

  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23848484FF' stroke-width='4' stroke-dasharray='4%2c10' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.uploadBox:hover {
  border-color: var(--file-upload-border-hover);
}

.dragging {
  border-color: var(--btn-1);
  background: #e6f3ff;
}

.fileInput {
  display: none;
}

.label {
  font-size: 1.5rem;
  color: var(--file-upload-label);
  margin: 0;
  margin-bottom: 0.25rem;
}

.subLabel {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;

  /* Ellipsis setup */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  width: 300px;
}

.uploadInstructions {
  font-size: 1rem;
  margin: 0;
}

.uploadInstructionsContainer {
  width: 300px;
}

.exitEditBtn {
  position: absolute;
  bottom: 2rem;
}

.saveMsg {
  position: absolute;
  top: 1rem;
  left: 1rem;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.25rem;
  border-radius: var(--global-border-radius);
  background-color: var(--file-uploaded);
  color: white;
}
