.uploadBox {
  border: 2px dashed var(--file-upload-border);
  border-radius: var(--global-border-radius);
  padding: 2rem;
  text-align: center;
  transition: 0.2s ease;
  background: var(--file-upload);
  color: var(--file-upload-border);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  height: 100%;
}

.uploadBox:hover {
  border-color: var(--file-upload-border-hover);
}

.dragging {
  border-color: var(--btn-1);
  background: #e6f3ff;
}

.fileInput {
  display: none;
}

.label {
  font-size: 1.5rem;
  color: var(--file-upload-label);
  margin: 0;
  margin-bottom: 0.25rem;
}

.subLabel {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.uploadInstructions {
  font-size: 1rem;
  margin: 0;
}

.uploadInstructionsContainer {
  width: 300px;
}
