.inputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2rem;
}

.formHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 2px solid var(--settings-border);
}

.formTitle {
  margin: 0;
  font-size: 1.75rem;
}

.formSubtitle {
  margin: 0;
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--search-txt);
}

.buttons {
  display: flex;
  gap: 1rem;
}

.inputList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.inputRow {
  display: flex;
  align-items: center;
  gap: 1rem;
}
