.inputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 2rem;
}

.formHeader {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 2rem 0 1rem 0;
  border-bottom: 2px solid var(--settings-border);
}

.formTitle {
  margin: 0;
  font-size: 1.5rem;
}

.formSubtitle {
  margin: 0;
  margin-top: 0.25rem;
  font-size: 0.9rem;
  font-weight: normal;
  color: var(--search-txt);
}

.buttons {
  display: flex;
  gap: 1rem;
}

.inputList {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}

.inputRow {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.textInput {
  font-size: 0.9rem !important;
  padding: 0.5rem 1rem !important;
  border-color: var(--settings-border) !important;
}

.textInput:focus {
  border-color: var(--input-form-input-focus) !important;
}
