.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.recentActivity,
.recentLatency,
.topConnections,
.successFailure {
  min-height: 0;
  background-color: var(--page-box-bg);
  padding: 1rem;
  border-radius: var(--global-border-radius);
  border: 1px solid var(--page-box-border);
}

.recentActivity {
  grid-column: 1 / 5;
  grid-row: 1;
}

.recentLatency {
  grid-column: 1 / 3;
  grid-row: 2;
}

.topConnections {
  grid-column: 3 / 4;
  grid-row: 2;
}

.successFailure {
  grid-column: 4 / 5;
  grid-row: 2;
}

.chartTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--page-txt-1);
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.chartTitle > h3 {
  margin: 0;
}
