.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 24px;
  width: 100%;
}

.recentActivity {
  grid-column: 1 / 5;
  grid-row: 1;
}

.recentLatency {
  grid-column: 1 / 3;
  grid-row: 2;
}

.topConnections {
  grid-column: 3 / 4;
  grid-row: 2;
}

.successFailure {
  grid-column: 4 / 5;
  grid-row: 2;
}
