.button {
  padding: 0.75rem;
  border: none;
  border-radius: var(--global-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}

.button:hover {
  cursor: pointer;
}

.github {
  background-color: #3b434d;
}

.github:hover {
  background-color: #2d333b;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin:hover {
  background-color: #004f7a;
}

.google {
  background-color: #f2f2f2;
}

.google:hover {
  background-color: #dbdbdb;
}

.azure {
  background-color: #f2f2f2;
}

.azure:hover {
  background-color: #dbdbdb;
}
