.button {
  padding: 0.75rem;
  border: none;
  border-radius: var(--global-border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  background-color: #333333;
}

.button:hover {
  cursor: pointer;
  background-color: #3d3d3d;
}
