.button {
  position: relative;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: var(--global-border-radius);

  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  transition: background-color 0.2s ease;
}

.iconWrapper {
  position: absolute;
  left: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonText {
  pointer-events: none;
}

.button:hover {
  cursor: pointer;
}

.github {
  background-color: #2d333b;
}

.github:hover {
  background-color: #24292f;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin:hover {
  background-color: #004f7a;
}

.google {
  background-color: #101010;
}

.google:hover {
  background-color: #000000;
}
