.thumbnailContainer {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: var(--global-border-radius);
}

.thumbnail {
  object-fit: cover;
  object-position: center;
}
