.textInput,
.inputFormInput {
  background-color: var(--login-btn-bg);
  border: 2px solid var(--login-txt-3);
  color: var(--login-txt-1);
  padding: 0.75rem 1.25rem;
  border-radius: var(--global-border-radius);
  width: 100%;
  font-size: 1rem;
  transition: border-color 0.2s ease, background-color 0.2s ease;
  font-family: inherit;
}

.textInput:focus {
  outline: none;
  border-color: var(--login-txt-1);
  background-color: var(--login-btn-bg);
  transition: border-color 0.2s ease, background-color 0.2s ease;
}
.textInput::placeholder {
  color: var(--login-txt-3);
}

.textInput:-webkit-autofill,
.textInput:-webkit-autofill:hover,
.textInput:-webkit-autofill:focus,
.textInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--login-btn-bg) inset !important;
  -webkit-text-fill-color: var(--login-txt-1) !important;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.inputLabel {
  color: var(--login-txt-2);
  font-size: 0.8rem;
  font-weight: 600;
}

.inputFormInputLabel {
  color: var(--input-form-input-label-txt);
}

.inputFormInput {
  background-color: var(--input-form-input);
  border: 1.5px solid var(--input-form-input-placeholder-txt);
  color: var(--input-form-input-txt);
}

.inputFormInput:focus {
  outline: none;
  border-color: var(--input-form-input-focus);
  transition: border-color 0.2s ease;
}
.inputFormInput::placeholder {
  color: var(--input-form-input-placeholder-txt);
}

.inputFormInput:-webkit-autofill,
.inputFormInput:-webkit-autofill:hover,
.inputFormInput:-webkit-autofill:focus,
.inputFormInput:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--input-form-input) inset !important;
  -webkit-text-fill-color: var(--input-form-input-txt) !important;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

/* DATE PICKER */
.inputFormInput[type="date"] {
  background-color: var(--input-form-input);
  border: 1.5px solid var(--input-form-input-placeholder-txt);
  padding: 0.75rem 1.25rem;
  border-radius: var(--global-border-radius);
  font-size: 1rem;
  width: 100%;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}

.inputFormInput[type="date"]:focus {
  outline: none;
  border-color: var(--input-form-input-focus);
}

.inputFormInput[type="date"]:focus-within {
  border-color: var(--input-form-input-focus);
}

/* Style the text inside (placeholder-like text) */
.inputFormInput[type="date"]::-webkit-datetime-edit {
  color: var(--input-form-input-txt);
}

/* Style the calendar icon */
.inputFormInput[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

/* Firefox tweaks */
.inputFormInput[type="date"]::-moz-focus-inner {
  border: 0;
}
