.searchBarWrapper {
  width: 100%;
  position: relative;
  z-index: 11;
}

.searchBarForm {
  display: flex;
  align-items: center;
  background-color: var(--page-box-bg);
  border: 1.5px solid var(--page-box-border);
  color: var(--page-txt-1);
  width: 100%;
  padding: 0 1rem;
  border-radius: var(--global-border-radius);
}

.searchBarInput {
  background-color: inherit;
  color: var(--page-txt-1);
  border: none;
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem;
}

.searchBarInput:focus {
  outline: none;
}

.searchBarFormOpen {
  border-bottom-color: transparent;
  border-radius: var(--global-border-radius) var(--global-border-radius) 0 0;
}

.dropdown {
  position: absolute;
  width: 100%;
  background: var(--page-box-bg);
  border-radius: 0 0 var(--global-border-radius) var(--global-border-radius);
  border: 1.5px solid var(--page-box-border);
  list-style: none;
  z-index: 1000;
  margin: 0;
  padding: 0;
  color: var(--page-txt-1);
  overflow: hidden;
}

.dropdownScroll {
  max-height: 400px;
  padding: 0.5rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.dropdownItem {
  padding: 0.75rem 1.25rem;
  cursor: pointer;
  transition: 0.1s ease;
  border-radius: var(--global-border-radius);
}

.dropdownItem:hover {
  background: var(--popup-hover);
}

.dropdownItem.activeItem {
  background-color: var(--popup-hover);
  transition: 0.1s ease;
}
