.searchBarWrapper {
  width: 100%;
  position: relative;
  z-index: 11;
}

.searchBarForm {
  display: flex;
  align-items: center;
  background-color: var(--search-bg);
  color: var(--search-txt);
  width: 100%;
  padding: 0 1rem;
  border-radius: var(--global-border-radius);
}

.searchBarInput {
  background-color: inherit;
  border: none;
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem;
}

.searchBarInput:focus {
  outline: none;
}

/* dropdown */
.dropdown {
  position: absolute;
  width: 100%;
  background: var(--search-bg);
  border-radius: var(--global-border-radius);
  list-style: none;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  padding: 1rem 0;
  max-height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}

.dropdownItem {
  padding: 1rem 2rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.dropdownItem:hover {
  background: var(--popup-hover);
}

.dropdownItem.activeItem {
  background-color: var(--popup-hover);
  transition: 0.2s ease;
}
